---
- name: "Pausing for 15 seconds"
  pause:
    seconds: 15

- name: "Installing old BloodHound"
  block:
    - name: "Configuring initial password for Neo4j"
      shell: "JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64 /usr/share/neo4j/bin/neo4j-admin set-initial-password neo4j"
      become: true
      become_method: sudo

    - name: "Creating Neo4j plugins directory"
      file:
        path: "/usr/share/neo4j/plugins"
        state: directory
      become: true

    - name: "Installing APOC plugin"
      copy:
        src: "files/apoc-4.4.0.38-all.jar"
        dest: "/usr/share/neo4j/plugins/apoc-4.4.0.38-all.jar"
      become: true

    - name: "Creating BloodHound config directory"
      file:
        path: "{{ ansible_env.HOME }}/.config/bloodhound"
        state: directory

    - name: "Copying custom BloodHound queries from Ansible"
      copy:
        src: "files/custom-bh-queries.json"
        dest: "{{ ansible_env.HOME }}/.config/bloodhound/custom-bh-queries.json"
        
    - name: "Copying custom GPOHound BloodHound queries from Ansible"
      copy:
        src: "files/custom-gpohound-bh-queries.json"
        dest: "{{ ansible_env.HOME }}/.config/bloodhound/custom-gpohound-bh-queries.json"

    - name: "Downloading custom queries"
      expect:
        command: "/usr/bin/ruby {{ ansible_env.HOME }}/Downloads/bqm/bin/bqm -o {{ ansible_env.HOME }}/.config/bloodhound/customqueries.json -i {{ ansible_env.HOME }}/.config/bloodhound/custom-bh-queries.json,{{ ansible_env.HOME }}/.config/bloodhound/custom-gpohound-bh-queries.json"
        responses:
          "Do you want to overwrite it?": "y"
          "What to do with the existing queries?": "d"

- name: "Installing BloodHound CE"
  block:
    - name: "Creating the directory"
      file:
        path: "{{ ansible_env.HOME }}/Downloads/BHCE"
        state: directory

    - name: "Downloading Bloodhound CE CLI"
      get_url:
        url: "https://github.com/SpecterOps/bloodhound-cli/releases/latest/download/bloodhound-cli-linux-amd64.tar.gz"
        dest: "{{ ansible_env.HOME }}/Downloads/BHCE/"
        mode: 0777

    - name: "Extract BHCE CLI archive"
      unarchive:
        src: "{{ ansible_env.HOME }}/Downloads/BHCE/bloodhound-cli-linux-amd64.tar.gz"
        dest: "{{ ansible_env.HOME }}/Downloads/BHCE"

    - name: "Install BHCE"
      shell: "{{ ansible_env.HOME }}/Downloads/BHCE/bloodhound-cli install"
      become: true
      args:
        chdir: "{{ ansible_env.HOME }}/Downloads/BHCE"

- name: "Installing third-party tools"
  block:
    - name: "Installing tun2socks"
      shell: "PATH=$PATH:/usr/local/go/bin make -C {{ ansible_env.HOME }}/Downloads/tun2socks tun2socks && ln -s {{ ansible_env.HOME }}/Downloads/tun2socks/build/tun2socks {{ ansible_env.HOME }}/.local/bin/tun2socks"

    - name: "Installing TailScale client"
      shell: "curl -fsSL https://tailscale.com/install.sh | sh"
      become: true