---
- name: "Installing Python dependencies"
  package:
    name:
      - python3-construct
      - python3-ldb
      - python3-argcomplete
      - python3-poetry
      - python3-ldap
      - python3-nftables
      - libldap2-dev
      - libsasl2-dev
    state: latest
  become: true

- name: "Pipx: Installing from a Git repository"
  community.general.pipx:
    name: "{{ item.name }}"
    source: "git+{{ item.url }}"
    state: latest
    system_site_packages: "{% if item.system_site_packages is defined %}{{ item.system_site_packages }}{% else %}false{% endif %}"
  loop:
    # AD
    - { name: 'ADcheck', url: 'https://github.com/CobblePot59/ADcheck'}
    - { name: 'adidnsdump', url: 'https://github.com/dirkjanm/adidnsdump'}
    - { name: 'badsecrets', url: 'https://github.com/blacklanternsecurity/badsecrets' }
    - { name: 'bloodhound', url: 'https://github.com/dirkjanm/BloodHound.py'}
    - { name: 'bloodyad', url: 'https://github.com/CravateRouge/bloodyAD'}
    - { name: 'bofhound', url: 'https://github.com/coffeegist/bofhound'}
    #- { name: 'certipy-ad', url: 'https://github.com/ly4k/Certipy'}
    #- { name: 'certipy-ad', url: 'https://github.com/zimedev/certipy-merged.git@main'}
    - { name: 'pypykatz', url: 'https://github.com/skelsec/pypykatz'}
    - { name: 'cmloot', url: 'https://github.com/shelltrail/cmloot'}
    - { name: 'coercer', url: 'https://github.com/p0dalirius/Coercer'}
    - { name: 'donpapi', url: 'https://github.com/login-securite/DonPAPI'}
    - { name: 'dploot', url: 'https://github.com/zblurx/dploot'}
    - { name: 'gpoddity', url: 'https://github.com/synacktiv/GPOddity'}
    - { name: 'hekatomb', url: 'https://github.com/ProcessusT/HEKATOMB'}
    - { name: 'impacket', url: 'https://github.com/ThePorgs/impacket'}
    - { name: 'itwasalladream', url: 'https://github.com/byt3bl33d3r/ItWasAllADream'}
    - { name: 'ldeep', url: 'https://github.com/franc-pentest/ldeep'}
    - { name: 'lsassy', url: 'https://github.com/Hackndo/lsassy'}
    - { name: 'man-spider', url: 'https://github.com/blacklanternsecurity/MANSPIDER'}
    - { name: 'mitm6', url: 'https://github.com/dirkjanm/mitm6'}
    - { name: 'mssql-spider', url: 'https://github.com/dadevel/mssql-spider.git@main'}
    - { name: 'netexec', url: 'https://github.com/Pennyw0rth/NetExec'}
    - { name: 'pre2k', url: 'https://github.com/garrettfoster13/pre2k'}
    - { name: 'pyldapsearch', url: 'https://github.com/fortalice/pyldapsearch'}
    - { name: 'pysnaffler', url: 'https://github.com/skelsec/pysnaffler'}
    - { name: 'pywerview', url: 'https://github.com/the-useless-one/pywerview'}
    - { name: 'scrtdnsdump', url: 'https://github.com/scrt/scrtdnsdump'}
    - { name: 'smbcrawler', url: 'https://github.com/SySS-Research/smbcrawler'}
    - { name: 'webclientservicescanner', url: 'https://github.com/Hackndo/WebclientServiceScanner'}
    - { name: 'msldap', url: 'https://github.com/skelsec/msldap'}
    - { name: 'krbjack', url: 'https://github.com/almandin/krbjack'}
    - { name: 'ASRepCatcher', url: 'https://github.com/Yaxxine7/ASRepCatcher'}
    - { name: 'sccmhunter', url: 'https://github.com/garrettfoster13/sccmhunter'}
    - { name: 'ntdissector', url: 'https://github.com/synacktiv/ntdissector'}
    - { name: 'soapy', url: 'https://github.com/xforcered/SoaPy'}
    - { name: 'powerview', url: 'https://github.com/aniqfakhrul/powerview.py'}
    - { name: 'gpohound', url: 'https://github.com/cogiceo/GPOHound'}
    - { name: 'wspcoerce', url: 'https://github.com/RedTeamPentesting/wspcoerce'}
    - { name: 'wsuks', url: 'https://github.com/NeffIsBack/wsuks', system_site_packages: "true"}
    # External
    - { name: 'pymetasec', url: 'https://github.com/m8sec/pymeta'}
    #- { name: 'crosslinked', url: 'https://github.com/m8sec/CrossLinked'} # Temporary issue with lxml 4.9.4
    - { name: 'trevorproxy', url: 'https://github.com/blacklanternsecurity/trevorproxy'}
    - { name: 'trevorspray', url: 'https://github.com/blacklanternsecurity/trevorspray'}
    - { name: 'spraycharles', url: 'https://github.com/Tw1sm/spraycharles'}
    - { name: 'thumbscr-ews', url: 'https://github.com/sensepost/thumbscr-ews'}
    #- { name: 'fireproxng', url: 'https://github.com/Sprocket-Security/fireproxng'} # # Temporary issue with lxml 4.9.4
    # Azure
    - { name: 'o365spray', url: 'https://github.com/0xZDH/o365spray'}
    - { name: 'aadoutsider', url: 'https://github.com/synacktiv/AADOutsider-py'}
    - { name: 'graphspy', url: 'https://github.com/RedByte1337/GraphSpy'}
    - { name: "Graphpython", url: 'https://github.com/mlcsec/Graphpython'}
    # Web
    - { name: 'arjun', url: 'https://github.com/s0md3v/Arjun'}
    - { name: 'droopescan', url: 'https://github.com/SamJoan/droopescan'}
    # Other
   # - { name: 'divideandscan', url: 'https://github.com/snovvcrash/DivideAndScan.git'} # Installed with Docker
    - { name: 'pyinstaller', url: 'https://github.com/pyinstaller/pyinstaller'}
    - { name: 'arsenal-cli', url: 'https://github.com/Orange-Cyberdefense/arsenal'}
    - { name: 'pwncat-cs', url: 'https://github.com/calebstewart/pwncat'}
    #- { name: 'exegol', url: 'https://github.com/ThePorgs/Exegol'}
    - { name: 'hashcathelper', url: 'https://github.com/SySS-Research/hashcathelper'}
    - { name: 'wesng', url: 'https://github.com/bitsadmin/wesng'}
    - { name: 'pypassgen', url: 'https://github.com/puzzlepeaches/pypassgen'}
    - { name: 'bridgekeeper', url: 'https://github.com/0xZDH/BridgeKeeper'}
    - { name: 'adiskreader-secretsdump', url: 'https://github.com/skelsec/adiskreader-secretsdump'}
    - { name: 'nfs_security_tooling', url: 'https://github.com/hvs-consulting/nfs-security-tooling'}

- name: "Pipx: Installing from PyPI"
  community.general.pipx:
    name: "{{ item.name }}"
    source: "{% if item.source is defined %}{{ item.source }}{% else %}{{ item.name }}{% endif %}"
    state: latest
  loop:
    # AD
    - { name: 'certipy-ad'}
    - { name: 'roadrecon'}
    - { name: 'roadtx'}
    - { name: 'seamlesspass'}
    #- { name: 'pyrdp-mitm[full]'}
    #- { name: 'volatility3'}
    - { name: 'poetry'}
    - { name: 'smbclientng'}
    - { name: 'conpass'}
    - { name: 'evil-winrm-py', source: 'evil-winrm-py[kerberos]'}
    # Web
    - { name: 'webcap'}

- name: "Installing pip tools"
  pip:
    name: "{{ item.name }}"
    break_system_packages: true
  loop:
    - { name: 'uploadserver'}
    - { name: 'pyftpdlib'}

- name: "Custom pipx commands" # Probably temporary issues
  shell: "pipx runpip {{ item.command }}"
  loop:
    #- {command: "crosslinked install 'requests[socks]'"}
    - {command: "impacket install setuptools pycryptodome"}
    - {command: 'roadrecon install neo4j-driver'}
    - {command: 'roadtx install setuptools'}
    - {command: 'pyldapsearch install setuptools'}
    #- {command: 'volatility3 install yara-python yara-x pycryptodome'}