---
- name: "Installing Necessary Packages"
  package:
    name:
      - git
      - python3-pip
      - make
      - build-essential
      - libssl-dev
      - zlib1g-dev
      - libbz2-dev
      - libreadline-dev
      - libsqlite3-dev
      - wget
      - curl
      - llvm
      - libncurses5-dev
      - xz-utils
      - tk-dev
      - libxml2-dev
      - libxmlsec1-dev
      - libffi-dev
      - liblzma-dev
    state: latest
  become: true
  become_method: sudo

- name: "Installing Pyenv"
  shell: "curl -fsSL https://pyenv.run | sh"

- name: "Installing desired Python versions"
  shell: "{{ ansible_env.HOME }}/.pyenv/bin/pyenv install {{ item.version }}"
  loop:
    - {version: "3.10.9"}
  #  - {version: "2.7.18"} # Disabled due to an error when installing