---
- name: "Copying Burp Script"
  copy:
    src: files/getburpcert.sh
    dest: /tmp/getburpcert.sh
    mode: 0744

- name: "Executing bash script to Download CA Certificate"
  shell:
    /tmp/getburpcert.sh

- name: "Copying CA DER Certificate to /usr/local/share/ca-certificates"
  copy:
    src: /tmp/cacert.der
    dest: /usr/local/share/ca-certificates/BurpSuiteCA.der
    owner: root
    group: root
    mode: 0644
  become: true
  become_method: sudo

- name: "Converting CA Certificate from DER to PEM"
  shell: "openssl x509 -inform der -in /tmp/cacert.der -out /tmp/cacert.pem"

- name: "Copying CA PEM Certificate to /usr/local/share/ca-certificates"
  copy:
    src: /tmp/cacert.pem
    dest: /usr/local/share/ca-certificates/BurpSuiteCA.crt
    owner: root
    group: root
    mode: 0644
  become: true
  become_method: sudo

- name: "Appending CA PEM Certificate to /etc/ssl/certs/ca-certificates.crt"
  shell: "cat /tmp/cacert.pem >> /etc/ssl/certs/ca-certificates.crt"
  become: true

- name: "Updating CA Certificates"
  shell: "update-ca-certificates"
  become: true

- name: Create directory for Burp Suite extras
  ansible.builtin.file:
    path: "{{ burpsuite_extras_dir }}"
    state: directory
    mode: '0755'
  become: true
  become_method: sudo

- name: Create directory for Burp Suite in home
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.BurpSuite"
    state: directory
    mode: '0755'

- name: Download jar files
  ansible.builtin.get_url:
    url: "{{ item.value.url }}"
    dest: "{{ burpsuite_extras_dir }}/{{ item.value.jar }}"
    checksum: "{{ item.value.checksum }}"
    mode: '0644'
  become: true
  become_method: sudo
  loop: "{{ lookup('dict', burpsuite_extras_jars) }}"
  
- name: Copy BurpSuite Community Config
  template:
    src: "templates/UserConfigCommunity.json.j2"
    dest: "{{ ansible_env.HOME }}/.BurpSuite/UserConfigCommunity.json"

